BOT_TOKEN = "2021406759:AAE9gWqocq8jk3Mu_eCN1YjIAvemhddqphc"
GDRIVE_FOLDER_ID = "0AEQV3jHPgsgDUk9PVA"
OWNER_ID = "1649111033"
DOWNLOAD_DIR = "/home/username/mirror-bot/downloads"
DOWNLOAD_STATUS_UPDATE_INTERVAL = 5
AUTO_DELETE_MESSAGE_DURATION = 20
IS_TEAM_DRIVE = "True"
TELEGRAM_API = "8252224"
TELEGRAM_HASH = "0c6d58acf0702d0a7a64181bb89a9571"
USE_SERVICE_ACCOUNTS = ""

# Optional config
AUTHORIZED_CHATS = "" #Separated by space
IGNORE_PENDING_REQUESTS = ""
INDEX_URL = ""
MEGA_KEY = "iUhX3SYI"
MEGA_EMAIL = "daucrepacridou-3715@yopmail.com"
MEGA_PASSWORD = "Farman@123"
BLOCK_MEGA_LINKS = ""
SHORTENER = ""
SHORTENER_API = ""

# Add more buttons (two buttons are already added of file link and index link, you can add extra buttons too, these are optional)
# If you don't know what are below entries, simply leave them, Don't fill anything in them.
BUTTON_THREE_NAME = ""
BUTTON_THREE_URL = ""
BUTTON_FOUR_NAME = ""
BUTTON_FOUR_URL = ""
BUTTON_FIVE_NAME = ""
BUTTON_FIVE_URL = ""
